@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --dark-pink: #bb666c;
    --old-pink: #e5bbb7;
    --fuchsia-pink: #f97185;
    --vt-c-indigo: #2c3e50;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: var(--vt-c-indigo);
    transition:
      color 0.5s,
      background-color 0.5s;
    line-height: 1.6;
    font-family: 'Courier Prime', sains-serif;
    font-size: 13px;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    background-color: #f4f2f07b;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul, li {
    margin: 0;
    padding: 0;
}

.center {
  text-align: center;
}

.bold { 
  font-weight: bold;
}

/* Essentials */
.fab-button {
    cursor: pointer;
    font-family: 'Courier Prime', sains-serif;
    font-size: 1rem;
    padding: 0.5rem 0.2rem;
    color: white;
    background-color: var(--vt-c-indigo);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fab-button:hover {
    background-color: #2c3e50d3;
}

.fab-button:focus {
    outline-color: var(--fuchsia-pink);
}

.fab-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.8rem;
  margin: 3.5rem 2rem;
  border-radius: 5px;
}

.fab-section-header {
    text-align: center;
    margin-bottom: 0.2rem;
}

.fab-card-container {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  row-gap: 3.2rem;
}

.fab-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 1rem;
  padding: 2rem 2rem;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.fab-card-icon { 
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: var(--fuchsia-pink);
}

.fab-card-icon svg{
    width: 30px;
    height: 30px;
	flex-shrink: 0;
}

.fab-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    line-height: 1.4;
    color: white;
    border-radius: 5px;
    background-color: var(--fuchsia-pink);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fab-badge svg {
    width: 18px;
    height: 18px;
    fill: white;
    flex-shrink: 0;
}
/** END Essentials **/

/** Header **/
.fab-header { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 1.5rem;
    padding: 1.4rem 2.5rem;
    color: white;
    background-color: var(--dark-pink);
}

.fab-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.6rem;
}

.fab-header-title-text {
    line-height: 1;
}

.fab-header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    row-gap: 1rem;
    width: 100%;
    font-size: 0.92rem;
    list-style: none;
}

.fab-header-link a {
    color: white;
    text-decoration: none;
    text-underline-offset: 4px;
}

.fab-header-link a:hover {
    text-decoration: underline;
}
/* END Header */

/* Introduction */
.fab-introduction {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2.5rem 2.5rem;
    background-color: var(--old-pink);
}

.fab-introduction-sidebar-image {
    width: 100%;
    height: 300px;
    object-position: top;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fab-introduction-main {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.fab-introduction-main-paragraph {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: justify;
}

.fab-introduction-main-badges {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1.5rem;
}

.fab-indotruction-main-badge-languages {
    display: flex;
    align-items: stretch;
    column-gap: 1.5rem;
}

.fab-indotruction-main-badge-languages .fab-badge {
    flex: 1;
}
/* END Introduction */

/* Skills */


.fab-skills-card-list {
    margin: 0;
    padding:0;
    list-style: none;
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start
}

.fab-skills-card-list-item {
    display: flex;
    flex-direction: row;
    column-gap: 0.4rem;
}

.fab-skills-card-list-item svg {
    flex-shrink: 0;
}

.fab-skills-card-list-item p {
    font-size: 1rem;
}
/* END Skills */

/* Projects */
.fab-projects-cards {
    display: flex;
    column-gap: 1rem;
}

.fab-project-card-summary {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: 1rem;
}

.fab-project-card {
    row-gap: 1rem;
}

.fab-project-card-tools {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 0.5rem;
}

.fab-project-card-tool {
    color: white;
    background-color: var(--fuchsia-pink);
    border-radius: 5px;
    padding: 0.3rem 0.8rem;
}
/* END Projects */

/* Goodbye */
.fab-goodbye { 
    background-color: var(--old-pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 2rem 2rem;
}
/* END Goodbye */

/* Footer */
.fab-footer {
    padding: 0.6rem;
    text-align: center;
    background-color: var(--dark-pink);
    color: white;
}
/* End Footer */
  
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    .fab-header { 
        flex-direction: row;
        align-items: center;
    }

    .fab-header-links {
        justify-content: flex-end;
    }

    .fab-section {
        margin: 2.5rem 3rem;
    }

    .fab-section-header {
        margin-bottom: 0.5rem;
    }

    .fab-card-container {
        row-gap: 3.6rem;
    }

    .fab-introduction {
        row-gap: 1.2rem;
        padding: 2.5rem 3.5rem;
    }

    .fab-introduction-sidebar-image {
        height: 460px;
    }

    .fab-goodbye {
        padding: 2rem 3.5rem;
    }

    .fab-skills-card-list {
        row-gap: 0.8rem;
    }

    .fab-project-card {
        row-gap: 1.2rem;
    }
}
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px)  {  
    body {
        font-size: 15px;
    }

    .fab-card {

    }

    .fab-section {
        margin: 2.8rem 4rem;
    }

    .fab-section-header {
        margin-bottom: 0.6rem;
    }

    .fab-introduction { 
        padding: 2.5rem 3.5rem;
    }

    .fab-introduction-sidebar-image {
        object-position: center;
        height: 500px;
    }

    .fab-goodbye {
        padding: 2.5rem 4rem;
    }

    .fab-skills-card-list {
        row-gap: 0.8rem;
    }

    .fab-project-card {
        row-gap: 1.4rem;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    body {
        font-size: 16px;
    }

    .fab-section {
        margin: 2.8rem 4.6rem;
    }

    .fab-section-header {
        margin-bottom: 0.6rem;
    }

    .fab-introduction {
        flex-direction: row;
        align-items: stretch;
        column-gap: 3rem;
        padding: 2.5rem 4rem;
    }

    .fab-introduction-main {
        align-items: flex-start;
        row-gap: 0.6rem;
    }

    .fab-introduction-sidebar-image {
        width: auto;
        height: 400px;
    }

    .fab-introduction-main-badges {
        align-items: stretch;
        margin-top: 1rem;
        column-gap: 1.5rem;
        flex-wrap: wrap;
        row-gap: 1.5rem;
    }
    
    .fab-introduction-main-badges .fab-badge{
        line-height: 1;
    }

    .fab-card-container {
        flex-direction: row;
        column-gap: 2.6rem;
    }

    .fab-goodbye {
        padding: 2.5rem 5rem;
    }

    .fab-skills-card-list {
        row-gap: 0.8rem;
    }

    .fab-project-card {
        row-gap: 1.4rem;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .fab-introduction {
        padding: 2.5rem 6rem;
    }

    .fab-introduction-main-badges {
        flex-direction: row;
    }

    .fab-introduction-main-badges .fab-badge, 
    .fab-indotruction-main-badge-languages .fab-bage {
        line-height: 1;
    }
  }

  @media (min-width: 1800px) {
    .fab-introduction {
        padding: 3rem 12rem;
    }

    .fab-introduction-main-badges {
        flex-direction: row;
    }

    .fab-goodbye .fab-card {
        padding: 3.2rem;
    }
  }
  